<!-- <p>Login Details:{{loginDate| date:'short'}}</p> -->




<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center fs-3 text-primary-emphasis mt-2"><i class="fa-solid fa-child"></i> STUDENT DETAILS</p>
            <p class="text-center">
                Student contact details typically include their name, email address, phone number, and mailing address.
Contact details are important for schools and universities to communicate with students about academic matters, events, and emergencies.
It's important for students to keep their contact details up-to-date to ensure they receive important information from their school or university.
In some cases, student contact details may also include emergency contact information for family members or guardians.
Schools and universities have a responsibility to protect student contact details and ensure they are only used for legitimate academic and administrative purposes.


            </p>
        </div>
    </div> 
</div>




<div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="mt-4">
          <li class="list-unstyled">
            <div class="form-group">
              <input  class="form-control rounded-sm border-2"  type="text" placeholder="Search your contacts" id="searchbox" >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  
  
  


<div class="container">
    <div class="row">
        <div class="col-md-6 "> 
            <div class="card mt-5 mb-2">
                <div class="card-body bg-primary p-5 rounded">
                    <div class="row">
                      <div class="col-4">
                        
                        <img [src]="" alt="" style="width: 100px; height: 100px;">
                    </div>
                     <div class="col-8">
                        <ul class="list-group">
                           <li class="list-group-item">STUDENT ID:</li>
                           <li class="list-group-item">NAME:</li>
                           <li class="list-group-item">CLASS:</li>
                           <li class="list-group-item">
                            <div style="display: flex;align-items: center;justify-content: space-between;">  
                            <a class="nav-link text-primary-emphasis me-2"   routerLink="/students/view/">
                                <i class="fa-solid fa-eye"></i>
                                VIEW
                            </a>
                            <a class="nav-link text-primary-emphasis me-2"  routerLink="/students/update/">
                                <i class="fa-solid fa-pen-to-square"></i>
                                UPDATE
                            </a>
                     </div>
                        </li>
                        <!-- <button  (click)="deleteContact(student.id)" style="float: right;" class="btn text-light fs-3  "><i class="fa-solid fa-user-xmark"></i> </button> -->

                           
                        </ul> 
                      </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
